
$background-color: rgb(random(255), random(255), random(255));
.App {
    text-align: center;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    @media only screen and (min-width: 1024px) {

    }
  .App-header {
     font-size: 11px;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      align-items: center;
      justify-content: center;
      @media only screen and (min-width: 1024px) {
        font-size: 30px;
      }
      .App-logo {
        margin: 75px 100px;
        @media only screen and (min-width: 1024px) {
          margin: 75px 150px;
        }
      }
      h1 {
        margin-bottom: 50px;
      }
  }  
  .container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 1px solid black;
      .dropdown {
        font-size: 20px;
        align-items: center;
        justify-self: center;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        .color {
          grid-column-start: 1;
          grid-column-end: 2;
          height: 20px;
          width: 20px;
          background-color: $background-color;
          justify-self: center;
          border-radius: 15px;
        }
        .button {
          justify-self: left;
          font-size: 15px;
          border: none;
          background-color: white;
          padding: 0px;
          padding-right: 25px;
          grid-column-start: 2;
          grid-column-end: 3;
          @media only screen and (min-width: 1024px) {
            font-size: 20px;
          }
        }
        .arrow {
          font-size: 30px;
          text-align: center;
          grid-column-start: 3;
          grid-column-end: 4;
        }
      }    
      .listShow {
          display: none;
      }
      .list {
        text-decoration: none;
        .optionList {
          display: grid;;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 4;
          grid-template-columns: 1fr 3fr 1fr;
        .color {
          grid-column-start: 1;
          grid-column-end: 2;
          height: 20px;
          width: 20px;
          background-color: $background-color;
          justify-self: center;
          align-self: center;
          border-radius: 15px;
          margin-bottom: 7px;
        }
        .item {
          justify-self: left;
          font-size: 15px;
          border: none;
          background-color: white;
          padding: 0px;
          padding-right: 25px;
          grid-column-start: 2;
          grid-column-end: 4;
          cursor: default;
          margin-bottom: 7px;
          @media only screen and (min-width: 1024px) {
            font-size: 20px;
          }      
        }

      }
      .item:hover {
        background-color: gray;
      }
    }
  }
}










